# Dependencies
node_modules/

# Build
dist/
build/

# Environment files
.env
.env.*
!.env.example

# IDE and editor files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Temporary files
.temp/
.tmp/
*.tmp

# System Files
.DS_Store
Thumbs.db

# Project specific
deployment/secrets/
*.pem
*.key
*.crt 